@model IReadOnlyList<TodoApp.Application.DTOs.TodoDto>

@{
    Layout = "_AppLayout";
}

@if (TempData["Error"] != null)
{
    <div class="error-banner">
        @TempData["Error"]
    </div>
}

<section class="todo-page">
    <h1 class="page-title">My Day</h1>

    <div class="todo-card">
        <div class="add-task">
            <input type="text"
                   id="new-task-input"
                   placeholder="Add a task"
                   autocomplete="off" />
        </div>

        <ul id="todo-list">
            @foreach (var todo in Model)
            {
                @await Html.PartialAsync("_TodoItem", todo)
            }
        </ul>
    </div>
</section>

<script src="~/js/add-task.js"></script>
<script src="~/js/todo-inline-edit.js"></script>
<script src="~/js/delete-task.js"></script>
